extends layout

block content
  h1= title

  a(href="/new") Create a game

  each game in games 
    form(class="game" method="POST" action="/delete/" + game._id)
      img(src=game.img)
      p= game.title 

      if game.free
        p Free 
      else 
        p= game.price 

        p= game.genre

      button(type="submit") Delete

  else
    p No games
