extends layout

block content

  div(class="games-container")
    div(class="genres")
      p(class="genre-title") Filter by genres 

      each genre in genres 
        div(class="genre")
          p
            a(href="/genres/" + genre._id)= genre._id 

      else 
        div(class="genre")
          p No genres

    each game in games 
      div(class="game")

        img(src=game.img)

        div
          p= game.title 

          if game.free
            p= game.genre
            p Free 

          else 
            p= game.genre
            p= `$${game.price}`

          div
            form(method="GET" action="/update/" + game._id)
              button(type="submit") Update

            form(method="POST" action="/delete/" + game._id)
              button(type="submit") Delete

    else
      div(class="game")
        p No games

    a(href="/new") 
      div(class="create")
        p Create a game
        img(src="/images/plus.svg" alt="plus")
